<div class="mainPageContainer">
  <div class="topSortingOptions">
    Search by Category:
    <select class="categorySelectBox" ng-model='search'>
      <option value="{{cat}}" ng-repeat="cat in view.allCategories">{{cat}}</option>
    </select>
    Search by Name:
    <input type="text" name="name" value="" ng-model='search'>
    <a href="#/bag"><button style="float:right" type="button" name="button">Checkout!</button></a>
  </div>
  <div class="itemTableDiv">
    <table border="1" width="100%" cellpadding="4" cellspacing="3">
      <tr>
        <th colspan="1" width="25%">
          <h5>tea</h5></th>
        <th colspan="1">
          <h5 style="display:inline">information</h5> <select style="float:right"class="" name="">
            <option  value="option">Highest Price</option>
            <option  value="option">Lowest Price</option>
          </select></th>
      </tr>
      <tr ng-repeat='tea in view.allItems | filter:search'>
        <td><img src="{{tea.imageUrl}}" alt="" /></td>
        <td>
          <div class="leftTableDiv">
            <div class="content">
              <h3>{{tea.name}}</h3>
              <br>
              <b>Price: </b>${{addDecimalFilter(tea.price)}}
              <br>
              <b>Caffeine Scale: </b>{{tea.caffeineScale}}
              <br>
              <b>Ingredients: </b>{{tea.ingredients}}
              <br>
              <b>Rating: </b>{{tea.rating}}
              <br>
              <b>In Stock: </b>{{checkInStockFilter(tea.inStock)}}
              <br>
              <b>Amount in Stock: </b>{{tea.amountInStock}}
              <br>
              <b>Categories: </b>
              <ul ng-repeat='category in tea.categories'>
                <li>{{category}}</li>
              </ul>
            </div>
          </div>
          <div class="rightTableDiv">
            <select ng-model="selectedValue">
              <option ng-repeat='option in view.optionValues' value='{{option}}'>{{option}}</option>
            </select>
            <button class='btn btn-warning' type="button" name="button" ng-click='addToBag(this.tea, selectedValue)'>Add To Bag</button>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
<!-- ng-selected='{{option == view.selectedOptionValue}}' -->
